
<section id="section1" class="panel1">
   

    <div class="label_wrapper">
        <h1 class="hidden">Direct Program Information</h1>
       
            <object data="images/directChart.svg" type="image/svg+xml" class="svg-graphic" id="chart">
            </object>
          </div>
 
    
    <div class="name_wrapper">

    <span class="see-more" data-target="1"> 1</span>
    <span class="see-more" data-target="2"> 2</span>
    <span class="see-more" data-target="3"> 3</span>
    <span class="see-more" data-target="4"> 4</span>
    <span class="see-more" data-target="5"> 5</span>
    <span class="see-more" data-target="6"> 6</span>
    

    <article class="popover">
        <h2 class="programs"></h2>
        <h3 class="requirement"></h3>
            <h3 class="grads"></h3>
            <h3 class="employ"></h3>
    </article>
    </div>


    <div class="things-panel">
       

        {{#each thing}}
        <div class="user-panel">
             
            <h2>{{ Program }}</h2>
            <h3>{{ Requirements }}</h3>
            <h3>{{ GraduationRates }}</h3>
            <h3>{{ EmploymentRates }}</h3>
        </div>
        {{/each}}

    </div>
    </div>

</section>
